@import url(./reset.css);
@import url(../font/font.css);
body {
  font-family: "TT Lakes", sans-serif;
  background-color: rgb(248, 248, 248);
  color: rgb(27, 28, 33);
  font-size: 14px;
  overflow-x: hidden;
  padding-bottom: 400px;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

:root {
  --container-width: calc(1056px + var(--container-padding) * 2);
  --container-padding: 32px;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
.none {
  display: none !important;
}

/* COMPANYS */
.main {
}
.companys {
}
.companys--desctop{
  display: block;
}
.companys--mobile{
  display: none;
}
.companys__title {
  position: relative;
  padding: 16px 0;

  color: #7e7e82;
  font-size: 16px;
  text-transform: uppercase;
  /* background-image: linear-gradient(#F8F8F8 0%, #FFF 100%); */
  /* background-color: pink; */
}
.companys__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(
    0px - (var(--container-padding) + (50vw - (var(--container-width) / 2)))
  );
  z-index: -1;

  width: 100vw;
  height: 53.6px;
  background-color: #f8f8f8;
  background-image: linear-gradient(to right, #f8f8f8 0%, #fff 100%);
}
.companys__container {
  margin-top: 24px;
  position: relative;
  display: flex;

  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 16px;

  overflow: hidden;
  max-height: 160px;
  transition: all 0.5s ease-in-out;
}
.companys__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 72px;
  width: 24px;
  background-image: linear-gradient(to right,rgb(248, 248, 248),transparent);
  background-image: linear-gradient(to right,#F8F8F8, transparent);
  z-index: 3;
}
.companys__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 72px;
  width: 24px;
  background-image: linear-gradient(to left,rgb(248, 248, 248),transparent);
  background-image: linear-gradient(to left,#F8F8F8,transparent);
  z-index: 3;
}
.companys--container-open {
  max-height: none;
}

.companys__item.swiper-slide {
  width: 240px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.swiper-pagination{
  top: 73px !important;
}
.swiper-pagination-bullet{
  background: #DDDDDD !important;
}
.swiper-pagination-bullet-active{
  background: #B5B6BC !important;
}

.companys__item {
  width: 240px;
  height: 72px;
  padding: 16px;

  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
}
.companys__item-img {
  align-self: center;
}
.companys__item-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ff3e79;
  transition: border-color 0.3s ease-in, background-color 0.3s ease-in;

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.companys__item-link:hover {
  background-color: #ffc4d5;
  border-color: #ffc4d5;
}
.companys__read-more {
  display: flex;
  padding: 0 0 0 6px;
  margin-top: 24px;
  gap: 16px;
  transition: color 0.2s ease-out;
  align-items: center;
}
.companys__read-more path {
  transition: all 0.2s ease-out;
}
.companys__read-more:hover {
  color: #ff3e79;
}
.companys__read-more:hover path {
  fill: #ff3e79;
}
.companys__read-more svg{
  transition: .4s;
}
.companys__read-more.read-more--open svg{
  transition: .4s;
  transform: rotate(180deg);
}
/* MEDIA */ 
@media screen and (max-width: 1120px) {
  .companys__title::before {
    left: calc(0px - var(--container-padding));
  }
  .companys__container {
    column-gap: 24px;
  }
  .companys__item {
    width: 224px;
  }
}
@media screen and (max-width: 768px) {
  .companys--desctop{
    display: none;
  }
  .companys--mobile{
    display: block;
  }
  .companys__container {
    column-gap: 16px;
  }
  .companys__item {
    width: 240px;
  }
  .companys__read-more{
    display: none;
  }
}
@media screen and (max-width: 393px) {
  .companys__title::before {
    height: 75.2px;
  }
}